// Body

$normal: #ffff;
$main: #28f5ff;
$low-con: #9BC3DC;
$high-con: #0F3255;
$high-inverse: #CDE6EB;
$medium-con: #2878D7;
$error: #B9320F;
$success: #69CD28;
$disabled: #B4B4B4;
$value2: #F5D237;
$value1: #F0AA0F;
$main-value: #F0820F;
$value-1: #DC6E0A;
$value-2: #BE4B05;


$img-app: 25px; //Tamaño de las imagenes de las aplicaciones .
$img-dow: 50px; //Tamaño de los botonoes de descarga.

$border-radius: 30px; //Contorno de los cuadrados
$border-radius: 20px; 
$padding-tb: 12px; //Padding del boton jugar
$padding-rl: 40px; //Padding del boton jugar

$left-bot: 60px; //Algunos margenes del recuadrado, donde el boton de "JUGAR"

$sombras: 12px 12px 28px rgb(5, 5, 5); // Sombreados de los recuadros

$fuente: 'Milliard', sans-serif; //Fuente de los textos con informacion.
$font-weight: 700;

// Typography

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
