// Columnas centradas horizontales

.col-center {
    float: none;
    margin: 0 auto;
}

.cualquiera {
    min-height: 300px;
    
}

///////////////////////////////////Diseño de header/////////////////////////////////////////////////////////////

header {
    background-color: $high-con;
    font-family: $fuente;
}


.nav-link:hover {
    color: $value-2!important;
}

.whoius-head {
    position: relative;
    right: 90%;
}

.contact-head {
    position: relative;
    right: 85%;
}

/////////////////////////////////////////Diseño del Body////////////////////////////////////////////////////////////

body {
    background-image: url('../../public/img/ground.png');
    font-family: $fuente;
}

.allboom {
    position: relative;
    width: 100%;
}

//Recuadro de Jugar

.lin {
    height: 70px;
    background-color: $high-con;
}

.play {
    background: $high-con;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: 4px solid $main;
    position: relative;
    bottom: 10%;
    height: 100%;
  }

.all-square {
    padding-left: 5%;
}

.all-play {
    position: relative;
    top: 10%;
}

.mov-1 {
    padding-top: 10%;
}

.mov-2 {
    padding-top: 10%;
}

.mov-3 {
    padding-top: 5%;
}

.boton {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: $high-inverse;
    color: $high-con!important;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 200%;
    font-weight: $font-weight;
}

.descarga {
    text-align: center;
    color: $low-con;
    position: relative;
    top: 10%;
}

.bot1-game {
    position: relative;
    top: 10%;
}

.bot2-game {
    position: relative;
    top: 10%;
 
}

//Primer recuadro de informacion

.first-square {
    position: -webkit-sticky;
    background: $low-con;
    box-shadow: $sombras;
    border-radius: $border-radius;
    z-index: -1;
}


.finish-square {
    background: $high-con;
    border-radius: $border-radius;
}

.text-square {
    background: $low-con;
    border-radius: $border-radius;
    border: $high-con 5px solid;

}

.isallboom {
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}


// Video de Youtube

.video {
    height: 700px;
    min-height: 100px;

}

//Segundo recuadro de informacion

.first-square1 {
    background: $low-con;
    box-shadow: $sombras;
    border-radius: $border-radius;
}

.finish-square1 {
    background: $high-con;
    border-radius: $border-radius;

}

.text-square1 {
    background: $low-con;
    border-radius: $border-radius;
    width: 100%;
    border: $high-con 5px solid;

}

.isallboom1 {
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.team {
    min-width: 240px;
}

.team2 {
    height: 300px;
    width: 400px;
    position: relative;
  
}

//Cuadrado de contacto

h2 {
    background-color: $main;
    color: $high-con;
    text-align: center;
    padding-bottom: $padding-tb;
    padding-top: $padding-tb;
    border-radius: $border-radius;
    font-family: 'Russo One', sans-serif;
    font-weight: $font-weight;
    width: 96%;
    position: relative;
    left: 2%;
}

.first-square2 {
    background: $low-con;
    box-shadow: $sombras;
    border-radius: $border-radius;
}

.finish-square2 {
    background: $high-con;
    border-radius: $border-radius;

}

.text-square2 {
    background: $low-con;
    border-radius: $border-radius;
    border: $high-con 5px solid;

}

.contact-square {
    background-color: rgba(197, 206, 236, 0);
    border-radius: $border-radius;
}

.contact-text {
    text-align: center;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.map-square {
    width: 100%;
    height: 100%;  
}

.enque {
    font-family: 'Russo One', sans-serif;
    font-weight: $font-weight;
}

.simcont {
    height: $img-loc;
    position: relative;
    
}

.correo {
    height: $img-loc;
    position: relative;
    right: 54%;
}

.calle {
    height: $img-loc;
    position: relative;
    right: 60%;
}

.telef {
    height: $img-loc;
    position: relative;
    right: 70%;
}

#telef {
    position: relative;
    
}

#correo {
    position: relative;
  
}

#calle {
    position: relative;
    

}

h3 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-weight: $font-weight;

}

/////////////////////////////////////////Body Terminos y condiciones/////////////////////////////////////////////////////

// Texto de Aviso Legal

.first-aviso {
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
    
}

.text-aviso {
    background: $low-con;
    border-radius: $border-radius;
    border: $high-con 5px solid;

}

.aviso {
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.aviso-legal {
    position: relative;
    text-align: center;

}

// Texto de Cookies

.first-cookies {
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}


.text-cookies {
    background: $low-con;
    border-radius: $border-radius;
    border: $high-con 5px solid;

}

.cookies {
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.politica-cookies {
    position: relative;
    text-align: center;
}

// Condiciones Generales de registro

.first-registro {
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}


.text-registro {
    background: $low-con;
    border-radius: $border-radius;
    border: $high-con 5px solid;
}

.registro {
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.condiciones-registro {
    position: relative;
    text-align: center;
}

// Politica de privacidad

.first-politica {
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}


.text-politica {
    background: $low-con;
    border-radius: $border-radius;
    border: $high-con 5px solid;

}

.politica {
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.politica-privacidad {
    position: relative;
    text-align: center;

}

// Condiciones del servicio

.first-condiciones {
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}


.text-condiciones {
    background: $low-con;
    border-radius: $border-radius;
    border: $high-con 5px solid;

}

.condiciones {
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.condiciones-servicio {
    position: relative;
    text-align: center;

}

.h3 {
    text-align: center;
}

/////////////////////////////////////////Diseño del Footer./////////////////////////////////////////////////////////////

footer {
    background-color: $high-con;
    font-family: $fuente;
}

a {
    text-decoration:none;
    color: $high-inverse!important;
}

.container {
    font-size: 12px;
    color: $high-inverse
}

.container- {
    font-size: 12px;
}


#downloads {
    width: 160px;
}

.google {
    position: relative;
    left: 15%;
}

.apple {
    position: relative;
    left: 15%;
}

.hr {
    height: 3px;
    background-color: $main;
}

.finish {
    font-size: x-small;


}

a:hover {
    color: $value-1!important;
  }

.app {
    height: 28px;
}

.logo-in {
    height: 40px;
}

.logo-fin {
    height: 40px;
    position: relative;
    left: 40%;
}

.all-2022 {
    color: $high-inverse!important;
    font-size: x-small;
}

.bx-vertical-center{
    display: flex;
    align-items: center;
}

// * {
//     border: solid 1px black;
//  }