///////////////////////////////////Diseño de header/////////////////////////////////////////////////////////////

header {
    background-color: $high-con;
    font-family: $fuente;
}


.nav-link:hover {
    color: $value-2!important;
}

.nav-link1 {
    margin-left: 360px;
}

.nav-item{
    margin-left: 100px;
}

.nav-es {
    margin-left: 290px;
}


/////////////////////////////////////////Diseño del Body////////////////////////////////////////////////////////////

body {
    background-image: url('../../public/img/ground2.png');
    font-family: $fuente;
}

.allboom {
    position: relative;
    width: 100%;
}

//Recuadro de Jugar

.lin {
    height: 70px;
    background-color: $high-con;
}

.play {
    width: 300px;
    height: 500px;
    padding-top: 25%;
    position: relative;
    background: $high-con;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: 4px solid $main;
    bottom: 25px;
    left: 70px;
  }

.boton {
    padding-left: $padding-rl;
    padding-right: $padding-rl;
    padding-bottom: $padding-tb;
    padding-top: $padding-tb;
    background-color: $high-inverse;
    color: $high-con!important;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    bottom: 50px;
	left: 50px;
    font-size: 35px;
    font-weight: $font-weight;
}

.descarga {
    position: relative;
    bottom: 0px;
    text-align: center;
    color: $low-con;
}

.bot1-game {
    position: relative;
    left: $left-bot;
    top: 50px;
}

.bot2-game {
    position: relative;
    left: $left-bot;
    top: 90px;
}

//Primer recuadro de informacion

.first-square {
    width: 1000px;
    height: 435px;
    padding-top: 25%;
    position: relative;
    top: 20px;
    right: 200px;
    background: $low-con;
    box-shadow: $sombras;
    border-radius: $border-radius;
    z-index: -1;
}


.finish-square {
    width: 950px;
    height: 380px;
    padding-top: 25%;
    position: relative;
    bottom: 190px;
    left: 18px;
    background: $high-con;
    border-radius: $border-radius;
}

.text-square {
    width: 945px;
    height: 370px;
    padding-top: 25%;
    position: relative;
    bottom: 245px;
    left: 0px;
    background: $low-con;
    border-radius: $border-radius;

}

.isallboom {
    position: relative;
    bottom: 315px;
    left: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}


// Video de Youtube

.video {
    width: 1205px;
    height: 600px;
    position: relative;
    left: 70px;
    padding-bottom: 50px;
}

//Segundo recuadro de informacion

.first-square1 {
    width: 1185px;
    height: 435px;
    padding-top: 25%;
    position: relative;
    left: 65px;
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}

.finish-square1 {
    width: 1133px;
    height: 375px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 28px;
    background: $high-con;
    border-radius: $border-radius;

}

.text-square1 {
    width: 1126px;
    height: 367px;
    padding-top: 25%;
    position: relative;
    bottom: 292px;
    left: 4px;
    background: $low-con;
    border-radius: $border-radius;

}

.isallboom1 {
    position: relative;
    bottom: 570px;
    left: 30px;
    margin-left: 500px;
    margin-right: 50px;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.team {
    height: 300px;
    width: 400px;
    position: relative;
    bottom: 260px;
    left: 30px;
}

//Cuadrado de contacto

h2 {
    background-color: $main;
    color: $high-con;
    text-align: center;
    position: relative;
    left: 65px;
    padding-bottom: $padding-tb;
    padding-top: $padding-tb;
    border-radius: $border-radius;
    font-family: 'Russo One', sans-serif;
    font-weight: $font-weight;
    height: 50px;
    width: 1185px;
    margin-top: 180px;
}

.first-square2 {
    width: 1185px;
    height: 600px;
    padding-top: 25%;
    position: relative;
    left: 65px;
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}

.finish-square2 {
    width: 1120px;
    height: 543px;
    padding-top: 25%;
    position: relative;
    bottom: 300px;
    left: 32px;
    background: $high-con;
    border-radius: $border-radius;

}

.text-square2 {
    width: 1112px;
    height: 535px;
    padding-top: 25%;
    position: relative;
    bottom: 292px;
    left: 4px;
    background: $low-con;
    border-radius: $border-radius;

}

.contact-square {
    background-color: rgba(197, 206, 236, 0);
    height: 450px;
    width: 350px;
    position: relative;
    bottom: 700px;
    border-radius: $border-radius;
}

.contact-text {
    text-align: center;
}

.map-square {
    position: relative;
    bottom: 265px;
    left: 420px;
}

.enque {
    position: relative;
    top: 75px;
    font-family: 'Russo One', sans-serif;
    font-weight: $font-weight;
}

.simcont {
    height: 40px;
    position: relative;
    right: 100px;
}

.correo {
    position: relative;
    left: 40px;
}

.calle {
    position: relative;
    top: 50px;
}

.telef {
    position: relative;
    bottom: 35px;
    right: 15px;
}

#correo {
    position: relative;
    top: 35px;
}

#calle {
    position: relative;
    top: 95px;
}

h3 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-weight: $font-weight;

}

/////////////////////////////////////////Body Terminos y condiciones/////////////////////////////////////////////////////

// Texto de Aviso Legal

.first-aviso {
    width: 1200px;
    height: 5800px;
    padding-top: 25%;
    position: relative;
    left: 50px;
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}

.finish-aviso {
    width: 1133px;
    height: 5728px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 32px;
    background: $high-con;
    border-radius: $border-radius;

}

.text-aviso {
    width: 1123px;
    height: 5718px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 4px;
    background: $low-con;
    border-radius: $border-radius;

}

.aviso {
    position: relative;
    bottom: 250px;
    left: 90px;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.aviso-legal {
    position: relative;

}

// Texto de Cookies

.first-cookies {
    width: 1200px;
    height: 1610px;
    padding-top: 25%;
    position: relative;
    left: 50px;
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}

.finish-cookies {
    width: 1133px;
    height: 1540px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 32px;
    background: $high-con;
    border-radius: $border-radius;

}

.text-cookies {
    width: 1123px;
    height: 1528px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 4px;
    background: $low-con;
    border-radius: $border-radius;

}

.cookies {
    position: relative;
    bottom: 250px;
    left: 90px;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.politica-cookies {
    position: relative;

}

// Condiciones Generales de registro

.first-registro {
    width: 1200px;
    height: 1320px;
    padding-top: 25%;
    position: relative;
    left: 50px;
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}

.finish-registro {
    width: 1133px;
    height: 1245px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 32px;
    background: $high-con;
    border-radius: $border-radius;

}

.text-registro {
    width: 1123px;
    height: 1232px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 4px;
    background: $low-con;
    border-radius: $border-radius;

}

.registro {
    position: relative;
    bottom: 250px;
    left: 90px;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.condiciones-registro {
    position: relative;

}

// Politica de privacidad

.first-politica {
    width: 1200px;
    height: 3650px;
    padding-top: 25%;
    position: relative;
    left: 50px;
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}

.finish-politica {
    width: 1133px;
    height: 3570px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 32px;
    background: $high-con;
    border-radius: $border-radius;

}

.text-politica {
    width: 1123px;
    height: 3560px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 4px;
    background: $low-con;
    border-radius: $border-radius;

}

.politica {
    position: relative;
    bottom: 250px;
    left: 90px;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.politica-privacidad {
    position: relative;

}

// Condiciones del servicio

.first-condiciones {
    width: 1200px;
    height: 3720px;
    padding-top: 25%;
    position: relative;
    left: 50px;
    background: $low-con;
    box-shadow: $sombras;
    margin-bottom: 60px;
    border-radius: $border-radius;
}

.finish-condiciones {
    width: 1133px;
    height: 3640px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 32px;
    background: $high-con;
    border-radius: $border-radius;

}

.text-condiciones {
    width: 1123px;
    height: 3630px;
    padding-top: 25%;
    position: relative;
    bottom: 295px;
    left: 4px;
    background: $low-con;
    border-radius: $border-radius;

}

.condiciones {
    position: relative;
    bottom: 250px;
    left: 90px;
    font-family: $fuente;
    font-weight: $font-weight;
    color: $high-con;
}

.condiciones-servicio {
    position: relative;

}

.h3 {
    position: relative;
    right: 80px;
}

/////////////////////////////////////////Diseño del Footer./////////////////////////////////////////////////////////////

footer {
    background-color: $high-con;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: $fuente;
}

a {
    text-decoration:none;
    color: $high-inverse!important;
}

.container {
    font-size: 12px;
    color: $high-inverse
}

.container- {
    font-size: 12px;
    margin-bottom: 30px;
    position: relative;
    top: 30px;
}

#downloads {
    height: $img-dow;
}

.google {
    position: relative;
    left: 594px;
}

.apple {
    position: relative;
    left: 608px;
}

.hr {
    height: 3px;
    background-color: $main;
    margin-bottom: 50px;
    position: relative;
    top: 30px;
}

.finish {
    font-size: x-small;


}

a:hover {
    color: $value-1!important;
  }

.app {
    height: $img-app;
}

.logo-fin {
    height: 70px;
    margin-left: 100px;
}


//  *{
//        border: solid 1px black;
//  }